<div class="word">
  <div class="row">
    <%  word.split("").each { |letter|  %>
      <div class="card">
        <div class="card-text"><%=  letter  %></div>
      </div>
    <%  } %>
  </div>
</div>