<% if @current_word.present? %>
  <%= render partial: 'word', object: @current_word %>
<% end %>

<div class="letters">
  <% curr = "" %>
  <% if @current_word.present? %>
    <%  curr = @current_word %>
  <% end %>
  <% taken = "" %>
  <% if @taken.present? %>
    <%  taken = @taken %>
  <% end %>
  <div class="container">
    <% (0..3).each { |i| %>
      <div class="row">
      <%  @letters.slice(i*5, 5).each { |letter|  %>
        <div class="card">
          <% l = letter.split("i") %>
          <% t = taken.split("-") %>
          <% if t.include? l[1] %>
            <div class="card-text"><%=  l[0]  %></div>
          <% else %>
            <%= link_to "game/add_letter/#{curr}/#{@letters_to_numbers[l[0]]}i#{l[1]}/#{taken}" do %>
              <div class="card-text"><%=  l[0]  %></div>
            <% end %>
          <% end %>
        </div>
        <%  } %>
      </div>
    <%  } %>
  </div>
</div>