.container {
    width: 520px;
    height: 416px;
    border: 2px solid black;
    position: absolute;
    bottom:0;
    right:25%;
    left:50%;
    margin-left: -250px;
    margin-block: 0;
}

.card {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    vertical-align: center;
    line-height: 100px;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
}

.card-text {
    display: block;
}

.word {
    width: 520px;
    height: 416px;
    border: 2px solid black;
}
